{% extends 'base.html.twig' %}

{% block title %}Bar à Beer{% endblock %}

{% block body %}

  <h1>{{ title }}</h1>

  {% for beer in beers %}
    {% include '/partials/_beer_card.html.twig' with {'beer': beer} %}
  {% endfor %}

{% endblock %}
