{% extends 'base.html.twig' %}

{% block title %}Country page{% endblock %}

{% block body %}

    <h2>Les bières pour le pays : {{ country.name | title }}</h2>
    {% for beer in beersInCountry %}
        {% include '/partials/_beer_card.html.twig' with beer %}
    {% endfor %}

{% endblock %}
