{% extends 'base.html.twig' %}

{% block title %}Hello BarController!{% endblock %}

{% block body %}
    {% for beer in beers %}
        <div class="mt-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ beer.name | capitalize }}</h5>
                    {% for c in beer.categories %}<p class="card-text"><em>{{ c.name }}</em></p>{% endfor %}
                    <p class="card-text">{{ beer.description }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
