{% extends 'base.html.twig' %}

{% block title %}Quotes{% endblock %}

{% block body %}

  {% for quote in quotes %}
    <div class="mt-4">
      <div class="card">
        <div class="h5 card-header align-content-center justify-content-center flex">
          <h4>{{ quote['title'] }}</h4>
        </div>
        <div class="card-body">
          {{ quote['content'] | raw }}
        </div>
      </div>
    </div>
  {% endfor %}

{% endblock %}
